<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

	<module name="TreeWalker">
		
		<module name="RedundantImport"/>
	 	<module name="MissingOverride"/>
	 	<module name="EqualsAvoidNull"/>
		<!-- <module name="NoFinalizer"/> -->
		<module name="SimplifyBooleanReturn"/>
		<module name="SimplifyBooleanExpression"/>
 		<module name="CovariantEquals"/>
 		<module name="EmptyStatement"/>
		<module name="FallThrough"/>
		<module name="SuperClone"/>
		<module name="AvoidStarImport"/>
		<module name="UnusedImports"/>
		<module name="AvoidStaticImport"/>
		<module name="EqualsHashCode"/>
		<module name="NeedBraces"/>
	
		<!-- Naming rules -->
	
		<module name="TypeName">
			<property name="format" value="^[A-Z][a-zA-Z0-9_]*$"/>
		</module>
		
		<!--
		<module name="MethodName">
			<property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
		</module>
		 -->

		<module name="NestedIfDepth">
            <property name="max" value="7"/>
        </module>
	
		<module name="EmptyBlock">
			<property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, INSTANCE_INIT, STATIC_INIT"/>
	 	</module>
		
		<module name="JavadocType"/>
		<module name="JavadocMethod"/>
		<module name="WriteTag"/>
		
		<module name="JavadocVariable">
			<property name="scope" value="protected"/>
		</module>
		
	</module>
	
	<module name="JavadocPackage"/>

</module>